body {
  background-color: rgb(11, 46, 13);
  font-family: 'Roboto', sans-serif;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.container {
  margin: 20px;
}

.title, .footer {
  color: #f0f0f0;
  text-align: center;
}

.grid {
  max-width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card:hover {
  cursor: pointer;
  /* box-shadow: 2px 2px 2px #f0f0f0;
  border-radius: 5px; */
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background-image: url('../img/background-card.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.back {
  transform: rotateY(180deg);
  background-color: rgb(11, 46, 13);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: rgb(11, 46, 13) !important;
}